#fondo{
    -fx-background-image: url("/../img/capture.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

.jfx-slider > .thumb {
     -fx-background-color: #0073ff;
     
}
.jfx-slider > .track {
     -fx-background-color: #626262;
}
.jfx-slider > .colored-track {
     -fx-background-color: #0073ff;
}

.jfx-slider > .animated-thumb {
     -fx-background-color: #0073ff;
}